body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.nav-dropdown-link {
  display: block;
  width: 100%;
  padding: 3px 1.5rem;
  clear: both;
  font-weight: normal;
  color: #292b2c;
  text-align: inherit;
  white-space: nowrap;
  background: none;
  border: 0;
  padding-left: 0;
}

.nav-dropdown-link:hover {
  text-decoration: none;
}

.avatar {
  width: 38px;
}
